* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header p {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 36px;
  color: #333;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.post-box {
  display: flex;
  width: 48%;
  background-color: rgba(247, 244, 244, 0.958);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.post-box:hover {
  transform: translateY(-5px);
}

.post-box img {
  width: 40%;
  object-fit: cover;
}

.post-content {
  padding: 20px;
  width: 60%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.post-content h2 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.397);
  margin-bottom: 15px;
}

.separator {
  border-top: 1px solid #dbd4d4;
  margin: 10px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  align-items: flex-start;
}
